<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                <div [hidden]="loginError==false" class="alert alert-danger box-msg" role="alert">
                     Usuario y/o contraseña incorrecto
                  </div>
                <div class="card-body">
                    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                        <div class="form-group"><label class="small mb-1" for="inputEmailAddress">Email</label><input class="form-control py-4" id="inputEmailAddress" type="email" placeholder="Enter email address" formControlName="username"/></div>
                        <div class="form-group"><label class="small mb-1" for="inputPassword">Contraseña</label><input class="form-control py-4" id="inputPassword" type="password" placeholder="Enter password" formControlName="password"/></div>
                        <button class="btn btn-warning" type="submit">Ingresar</button> 
                    </form>
                </div>
                <div class="card-footer text-center">
                    <div class="small"><a routerLink="/signup">Necesita un cuenta? Registrese</a></div>
                </div>
            </div>
        </div>
    </div>
</div>