<main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="../../assets/img/{{producto?.image}}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <p class="lead">
              
              <span>${{producto?.precio}}</span>
            </p>

            <p class="lead font-weight-bold">{{producto?.nombre}}</p>

            <p>{{producto?.descripcion}}</p>

            <div class="d-flex justify-content-left">
              <!-- Default input -->
              <input #cantidadProductos type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button (click)="agregarProducto(producto?._id, cantidadProductos.value)" class="btn btn-primary btn-md my-0 p">Agregar al carrito
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>
              

            </div>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>

     
      
    </div>
</main>
